*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --suface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(255, 255, 255, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
   }
   
.light {
       --text-color: black;
       --bg-url: url(./assets/bg-mobile-light.jpg);
       --stroke-color: rgba(0, 0, 0, 0.5);
       --surface-color: rgba(236, 29, 29, 0.05);
       --surface-color-hover: rgba(255, 255, 255, 0.02);
       --highlight-color: rgba(0, 0, 0, 0.1);
       --switch-bg-url: url(./assets/sun.svg);
   }

body {
    /* NORMAL PARA PROGRAMAR
background-image: url(./assets/bg-mobile.jpg);
background-position: center;
background-repeat: no-repeat ;
background-size:cover;

/*ATALHO PARA FAZER OS MESMO ACIMA--- COLOCAR APENAS O ABREVIADO APÓS OS : DE CADA CODE*/
background: var(--bg-url)  no-repeat top center/cover;
}


body *{
    font-family: 'Inter', sans-serif; 
    color: var(--text-color);
}

#container {
    width: 360px;
 /* 
  height: 712px;
  margin:auto;
  margin-top: 56px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto; 
  ABAIXO COMO FAZER OS MESMOS CODIGOS QUE ESTÃO ACIMA DE FORMA RESUMIDA*/
  margin: 56px auto 0px auto;
 padding: 0 24px;
}

/*SWITCH*/
#switch {
    position: relative;
    width: 64px;
    margin: 18px auto;
}


#switch button {
width: 32px;
height: 32px;
background: white var(--switch-bg-url) no-repeat center;
border: 0;
border-radius: 50%;

position: absolute;
top: 50%;
right: initial;
z-index: 1;
transform: translateY(-50%);
}

.light #switch button{
    right: 0;
    left: initial;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
   
    
}

/*PROFILE*/

#profile {
 
    text-align: center;
}
#profile img{
    width: 112px;  
}
#profile{
    font-weight: 500;
    line-height: 24px;
}

/*links*/
ul {
   
    list-style: none;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background:  rgba(255, 255, 255, 0.1);
    border: 1px var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: backgorud 0.2s;
}

ul li a:hover {
    background:  var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

#social-links {
   
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}

#social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: 0.2s;
    border-radius: 50%;
}

#social-links a:hover {
background: var(--highlight-color);
}
footer{
    
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}